@{
    ViewData["Title"] = "Home Page";
}
<div id="home-container">
    <div id="main-title">
        <h1>Bar Pinguino</h1>
    </div>

    <div class="grid">
        <a asp-controller="" asp-action="" role="button" class="outline card">Venta</a>
        <a asp-controller="" asp-action="" role="button" class="outline card">Inventario</a>
        <a asp-controller="" asp-action="" role="button" class="outline card">Preparacion</a>
        <a asp-controller="" asp-action="" role="button" class="outline card">Finanzas</a>
        <a asp-controller="" asp-action="" role="button" class="outline card">Sistema</a>
    </div>
</div>
